<h1>Create an Article</h1>

<form action="/articles" method="POST">
  <p>
    Title: <input type="text" name="title" />
  </p>

  <p>
    Content: <textarea name="content"></textarea>
  </p>

  <input type="submit"/>
</form>
